<!DOCTYPE html>
<html>
<head>
  <title>TweetMap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="http://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><%= image_tag 'tweetmap.png'%>TweetMap</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
           <% if current_user %>
             <li>Welcome, <%= current_user.name %> <%= image_tag "#{current_user.avatar}" %> <%= link_to "Sign Out", signout_path %></li>
           <% else %>
            <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
           <% end %>
          </ul>

        </div>
      </div>
    </div>
    <%= yield %>

</body>
</html>
